@require './base/index.styl'

body 
  border 5px solid $blue

@media $md
  body 
    border 5px solid $indigo

@media $lg
  body 
    border 5px solid $purple

@media $xl
  body 
    border 5px solid $pink